html,
body{
  width: 100%;
  margin:0;
}

/****APP***/
#App{
  position: relative;
}

/*NAVBAR*************************/

.navbar-brand img{
  height: 5vw;
}

.nav-item{
  text-align: center;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-top: 0.1875rem solid orange
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse{
    max-width: 60vw;
  }

.navbar-expand-lg .navbar-collapse > ul {
    justify-self: flex-end;
    flex-grow: 1;
    justify-content: space-evenly;
}
}

/*HEADER*************************/


#header-wrapper{
  position: relative;
  background: url(blake-connally-B3l0g6HLxr8-unsplash.jpg) center no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  height: 90vh;
}

#info{
  position: relative;
  top: 30%;
  color: orange;
  align-items: center;
}

.typed-text-container{
  text-align: center;
  color:white;
}

/****ABOUT ME******/
#about-me{
  height: 60vh;
  background-color: rgb(250, 250, 248);
}

#my-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

#my-img > img{
  width: 20vw;
  border-radius: 60%;
  border: 1px solid black;
  background-color: burlywood;
}

#about-content{
  position: relative;
  top: 20%;
  text-align: justify;
  width: 30%;
}

#about-content>h1{
  color: rgb(250, 171, 24)
}


@media (max-width: 540px) {
  #about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about-content{
    width: 70%  
  }

  #my-img{
    position: relative;
    top: 10%;
  }
  #about-content h1{
    text-align: center;  
  }
}

/*****Certificate and Experience******/
#certifications{
  background-color: rgb(230, 231, 231);
  height: auto;
  padding-bottom: 5%;
}

h1{
  text-align: center;
  color: orange;
}

.items-container{
  position: relative;
  top: 10%;
  width: 90%;
  margin: auto;
  border-left: 3px solid orange;
  padding-left: 10px;
}

.item{
  display: flex;
  align-items: center;
  margin:5% 0% ;
  border: 1px solid black;
  width: fit-content;
  background-color: white;
  border-radius: 10px;
  padding-right: 10px;
}

.item>p{
  margin: 0;
  font-size: 20px;
}

.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid orange;
  position: relative;
  left: -17px;
}

/*****MOBILE FIX DRAG******/
@media (max-width: 540px) {
}
/********Portfolio*********/
#projects-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 5%;
  margin-bottom: 5%;
}

@media (min-width: 540px) {
  #projects-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    padding-top: 5%;
    justify-content: center;
  }
}

/**********Contact************/
#contact{
  height: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#contact #basic-inf, #contact-inf{
  padding-left: 5%;
  padding-top: 5%;
}

#contact-inf a{
  font-size: 30px;
}

#contact p{
  color: orange;
  font-weight: 300;
  font-size: smaller;
}

@media (min-width: 772px) {
  #contact{
    height: 20vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  #basic-inf{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    font-size: 1.25rem;
  }

  #contact-inf{
    padding-top: 20px;
    font-size: 1.25rem;
  }
}
